{% extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block body %}
    <h1>index</h1>

    <div class="page">
        
        {% for photo in photos %}
            <div class="box">
                <a href="{{ asset('post/'~photo.id) }}"><img class="pic" src="{{ asset('build/images/'~photo.path) }}" alt="400" ></a>
            </div>
        {% endfor %}

        

        
        
    </div>
{% endblock %}
