{% extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block body %}
    <h1>index</h1>

    <div class="page">

        <div class="box">
            <img class="pic" src="https://placehold.co/600x400" alt="400" >
        </div>

        <div class="box">
            <img class="pic" src="https://placehold.co/600x400" alt="400" >
        </div>
        
    </div>
{% endblock %}
