body {
    background-color: lightgray;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.page .pic{
    object-fit:contain; 
    object-position: center; 
    width: 400px;
    height: 400px;
    margin: 5px;
}

.page .pic:hover {
    transform: scale(1.05);
    transition: transform .35s ease-in-out;
    -webkit-transition: transform .35s ease-in-out;
    -moz-transition: transform .35s ease-in-out;
    -ms-transition: transform .35s ease-in-out;
    -o-transition: transform .35s ease-in-out;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.detail>.box {
    width: 75vw;
    }
